.canvas-container {
  border-radius: 8px;
  background-color: #303030;
}

.canvas-text {
  overflow: hidden;
  background-color: #303030;

  p {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #e0e0e0;
  }

}

.color-input {

  width: 70px;

  input {
    width: 40px;
    height: 20px;
    border-radius: 20px;
  }
}